<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Targets.LogIO"/>
    </extensions>
    <targets async ="true">
      <target xsi:type="LogIO" name="logio" layout="Logger: ${logger}  TID: ${threadid} Message: ${message}" Node ="${machinename}" Stream ="${logger}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logio"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
